h1{
    font-size: 60px;
    line-height: 72px;
    letter-spacing: -2%;
    font-weight: 700;
}
h2{
    font-size: 36px;
    line-height: 40px;
    letter-spacing: -2%;
    font-weight: 600;
}
h3{
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -2%;
    font-weight: 600;
}
.subtitle{
    font-size: 20px;
    line-height: 28px;
    font-weight: normal;
}
.body1{
    font-size: 18px;
    line-height: 28px;
    font-weight: normal;
    color: #4b5563;
}
.body2{
    font-size: 14px;
    line-height: 24px;
    color: #4b5563;
}
.body3{
    font-size: 14px;
    line-height: 20px;
    color: #4b5563;
}

@media only screen and (max-width:1024px)  {
    h1{
    font-size: 48px;
    line-height: 48px; 
   }
   h2{
    font-size: 18px;
    line-height: 28px;
   }
   h3{
    font-size: 24px;
    line-height: 32px;
   }
   .subtitle{
    font-size: 18px;
   }
   .body1{
    font-size: 16px;
    line-height: 24px;

   }

    
}
@media only screen and (max-width:768px){
    h1{
        font-size: 36px;
        line-height: 40px; 
       }
 
}